@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    
    <h2 id="title" style="font-family: 'Roboto', sans-serif; color: #4CAF50;">Our Vision</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to Agri-Energy Connect, your digital hub for sustainable agriculture and green energy innovation. Here, farmers, experts, and enthusiasts unite to collaborate, share resources, and pioneer the future of renewable energy in agriculture. Let’s grow together, sustainably.</p>
</main>