@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to AGRI-ENERGY CONNECT</h1>
        <p class="lead">your digital hub for sustainable agriculture and green energy innovation. Here, farmers, experts, and enthusiasts unite to collaborate, share resources, and pioneer the future of renewable energy in agriculture. Let’s grow together, sustainably.</p>
       
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Educational Resaources and Collaborations</h2>
            <p>
                Explore content that focusing on the benefits and practicalities of adopting renewable energy sources into agricultural practices.
                A platform where farmers and energy experts can propose and collaborate on joint projects. It also provides information about grants, subsidies, 
                and funding opportunities for green initiatives in agriculture.
                For additional information, refer to the gray navigation bar on top.
            </p>
           
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Green Energy Marketplace</h2>
            <p>An innovative platform that connects farmers with tailored green energy solutions designed specifically for agricultural requirements. 
            These solutions include solar-powered irrigation systems, wind turbines optimized for farms, and efficient biogas energy solutions.</p>
           
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Sustainable Farming Hub</h2>
            <p>An extensive hub for sharing sustainable farming best practices, covering organic farming techniques, water conservation methods, and soil health maintenance.
            Why did the scarecrow attend the sustainability workshop? Because it wanted to learn how to be more eco-friendly in its field! Goodluck!</p>
           
        </section>
    </div>
</main>