
@{
    ViewBag.Title = "ViewProjects";
}

<h2>ViewProjects</h2>
<div>
    <h2>Products:</h2>
    <ul>
        @foreach (var product in ViewBag.Products)
        {
            <li>@product.ProductName</li>
        }
    </ul>
</div>

